<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Crypto
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">

    <div class="navbar-nav">
        <a class="navbar-brand" href="{{ path('app_crypto') }}">Crypto App</a>
        <a class="nav-link" href="{{ path('app_crypto') }}">Cryptos</a>
    </div>
    <div class="navbar-nav">
        {% if not is_granted("ROLE_USER") %}
            <a class="nav-link" href="{{ path('new_user') }}">Register</a>
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        {% endif %}
        {% if is_granted("ROLE_USER") %}
            <img src="{{ app.user.avatar }}" alt="Avatar" class="rounded-circle"
                 style="width: 20px; height: 20px; margin-top: 10px">
            <a class="nav-link" href="{{ path('see_user', {'id': app.user.id}) }}">{{ app.user.username }}</a>
            <a class="nav-link" style="color:#d23939" href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
    </div>
</nav>

{% block body %}
{% endblock %}
</body>
</html>
