{% extends 'base.html.twig' %}
    {% block body %}


        <div style="padding: 200px">
            <h1 style="margin-bottom: 50px"> Crea una cuenta </h1>
            {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
            <button class="btn btn-primary" type="submit"> Registrar</button>
            {{ form_end(userForm) }}
        </div>

        <div >
        ¿Ya estás registrado? <a href="{{ path("app_login") }}"> Logeate </a>
        </div>

    {% endblock %}