{% extends 'base.html.twig' %}

    {% block body %}

        {% if user %}


            <!-- Hero Banner Section -->
            <section class="hero-banner bg-light">
                <div
                        class="bg-image"
                        style="
                        background-image: url('{{ user.avatar }}');
                        height: 500px; background-position: center; background-size: cover">
                    <a style="position: absolute; top: 100px; left: 20px" class="btn btn-danger mt-7" href="{{path('delete_user', {'id': user.id})}}">Borrar Cuenta</a>
                </div>
            </section>


{% for message in app.flashes('success') %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
{% endfor %}

            <div class="item-detail__box animate__animated animate__fadeInUp">

                <div class="item-detail__text">

                    <h2 class="item__title mb-4">Usuario info </h2>
                    <p class="text-center mb-3">Name: {{ user.name }}  </p>
                    <p class="text-center mb-3">Username: {{ user.username }}  </p>
                    <p class="text-center mb-3">Email: {{ user.name }}  </p>

                </div>

                <div class="item-detail__text">
                    <h2 class="item__title mb-4"> Wallet</h2>
                    <h5 class="item__title "> Id: {{ user.wallet.id }} </h5>
                    <h5 class="item__title mb-7"> Depositos:  {{ user.wallet.amount }}€  </h5>
                    <a class="btn btn-primary" href="{{path('add_money_wallet', {'idUser':app.user.id, 'amount': 1000})}}" >  Más Dinero </a>


                </div>
                    <div class="item-detail__text">
                    <h2 class="item__title mb-4"> Cryptos</h2>
                    {% for crypto in user.wallet.cryptoInWallet %}

                        {% if crypto %}
                     <span class=""> {{ crypto.name }} </span>
                    {% endif %}
                    {% endfor %}




            </div>
        {% endif %}
        {% if not user %}
            <div class="item-detail__404">
                <h1 class="item__title"> This user is not in the Database </h1>
                <img style="width:100wh; height: auto" src="/img/404.jpeg" alt="not-found">
            </div>
        {% endif %}


        <script>
            // Get all elements with class="closebtn"
            var close = document.getElementsByClassName("closebtn");
            var i;

            // Loop through all close buttons
            for (i = 0; i < close.length; i++) {
                // When someone clicks on a close button
                close[i].onclick = function () {

                    // Get the parent of <span class="closebtn"> (<div class="alert">)
                    var div = this.parentElement;

                    // Set the opacity of div to 0 (transparent)
                    div.style.opacity = "0";

                    // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                    setTimeout(function () {
                        div.style.display = "none";
                    }, 600);
                }
            }
        </script>



    {% endblock %}
